# Ignore the utils folder
utils/

# Ignore Python compiled files and __pycache__ directories
src/__pycache__
*.pyc


# Ignore Python compiled files and __pycache__ directories
src/process_input/__pycache__